.display{
    font-size: 32pt;
    border: 1px solid black;
    width: 24.9%;
}
.digit{
    font-size: 32pt;
    width: 6.09%;
}
.oper{
    font-size: 32pt;
    width: 6.09%;
}
.equals{
    font-size: 32pt;
    width: 6.09%;
}
.decimal{
    font-size: 32pt;
    width: 6.09%;
}